
span{
    font-size: 1.6rem;
}


hack para hacer los rem de mmanera facil
html{
    font-size: 62.5%;

}
body{
    font-size: 1.6rem;
 }

 h1.titulo  span{
    font-size: 3,2rem;
 
}

.titulo{
    font-size: 3.2rem;

}

:root {

/*Biblioteca De Colores!*/

    /*Primary color*/
      --green-100: #39A900;
       --green-80: #61CA33;
       --green-60: #88CC66;
       --green-40: #B0DD99;
       --green-20: #D7EEDD;

     /*Secundary Color*/
     --Orange-100: #FDC300;
       --aqua-100: #50E5F9;

     /*Basic color*/
      --white-100: #FFF;
      --Black-100: #000;
       --gray-100: #313131;
        --gray-80: #626262;
        --gray-60: #949494;
        --gray-40: #C5C5C5;
        --gray-20: #F6F6F6;

        

}

/* Global */

/* Hedings */
h1{
font-size: 3.2rem;
}

h2{
font-size: 2.4rem;
}

h3{
font-size: 2rem;
}

h4{
font-size: 1.6rem;
}

h1 , h2 , h3 , h4{
    text-align: center;
}

.titulo{
    font-size: 3.2rem;
    color: var(--Black-100);
    font-weight: 700;
    font-size: normal;
    font-style: normal;


}

.titulo span{
    font-size: 2.0rem;
    color:var(--white-100)
}

body{
    font-size: 1.6rem;
    font-family: "krub" , "system-ui";
    font-size: 400;
    font-size: normal;
    background-image: linear-gradient(to top var(--gray-40) var(--white-100));
}
/*Modificacion del contenedor*/


.nav-bg{
    background-color: var(--green-100);
}
.container{
    
margin: 0rem auto;
width: 120rem;
}

.main-nav {
    padding: 1.2rem;
   display: flex;
    justify-content: space-between;
}


    /* ^Pseudoclase */
.main-nav a{
    display: block;
    text-align: center;
    color: var(--white-100);
    text-decoration: none;
    
}

.main-nav a:hover{
    background-color: var(--Orange-100);
    color : var(--Black-100);
}

/* Hero Content */
.hero{
    background-image: url('/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45rem;
    padding: 1rem ;
    text-align: center;
margin: 3.0rem;


}

.hero-content{
    position: absolute;
    background-color: rgb(0 0 0 /50%);
    inset: 0;
    height: 45rem;
    padding: 1rem ;
margin: 3,0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-content h2,
.hero-content p{
    color: var(--white-100);
}

.button{
    background-color: var(--green-100);
    color: var(--white-100);
    text-decoration: none;
    padding: 1.2rem;
    border-radius: 0.6rem;
    margin: 5,0rem;
    font-weight: bold;
text-transform: uppercase;
width: 90%;
}

@media (min-width: 786px){
    .button{
        width: auto;
    }
}

.button:hover{
    cursor: pointer;
}

.shadow{
    -webkit-box-shadow: -2px 7px 25px 13px rgba(0,0,0,0.72);
    -moz-box-shadow: -2px 7px 25px 13px rgba(0,0,0,0.72);
    box-shadow: -2px 7px 25px 13px rgba(0,0,0,0.72);

    padding: 3.0rem;
    border-radius: 1rem;
}



.servicios{
    display: grid;
grid-template-columns: repeat(3 , 1fr);



}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
 

   

    
}

.servicio .icons{
    height: 15rem;
    width: 15rem;
    background-color: var(--Orange-100);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicio h3{
    font-weight: bold;
}

.servicio p{
    line-height: 2;
}

.form{
    background-color: var(--gray-80);
    width: min (60rem 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.6rem;

}

.form fieldset{
    border:none
}

.form legend{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--aqua-100);
    
}

.field{
    margin: 1rem;
}

.field label {
color : var(--white-100);
font-weight: bold;
margin-bottom: 0.5rem;

}

.input.text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.6rem;
}
.send .botton{
    width: 100%;

}

@media (min-width: 768px){
    .send  .botton{
        width: 30%;
    }
}





.field-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
}

.field:nth-child(3),
.fie3ld:nth-child(4){
grid-column: 1/3;
}

.field{
    margin-bottom: 1rem;
}

p{
    text-align: center;
}


